

<body>
<div class="menu">

<!--
    <img src="/src/assets/logos/6.png" class="logo">-->
  <div class="logo">
    <img src="/assets/logo.png" height="95%" width="60%">
  </div>

  <div class="item">

    <ul>
      <li><a href="default.asp">HOME   </a></li>
      <li><a href="news.asp">ARTICLE   </a></li>
      <li><a href="contact.asp">EFFECTIF   </a></li>
      <li><a href="about.asp">CONTACT   </a></li>
    </ul>
  </div>

  <div class="time">

    <p>  {{ temps | date:'medium'}} </p>


  </div>



</div>


</body>
