
<html>
<head>

  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>

</head>

<body>
<div class="sticky-top">
  <app-menu></app-menu>
</div>

<router-outlet></router-outlet>



<!-- Footer -->
<footer class="page-footer font-small blue">

  <!-- Copyright -->
  <div class="footer-copyright text-center py-3">© 2018 Copyright:
    <a href="https://mdbootstrap.com/education/bootstrap/"> MDBootstrap.com</a>
  </div>
  <!-- Copyright -->

</footer>
<!-- Footer -->

</body>



</html>
